{#
/**
 * @file
 * Default theme implementation for a mrcs social share formatter.
 *
 * Available variables:
 * - back_to_top_data: Array of back to top config data.
 * 	 - circle_stroke_color: Circle stroke color is the line of color that precisely
 * 	   follows a path on page scroll.
 * 	 - progress_box_shadow: Progress box shadow color where the stroke will
 * 	   follow a path
 * 	   on page scroll
 * 	 - icon_color: Icon color
 * 	 - icon_hover_color: Icon color on hover
 * 	 - scroll_bar_position: Scrollbar
 * 	 - has_shadow: Scrollbar has shadow on hover
 * 	 - shadow_color: Scrollbar shadow color
 * 	 - has_fill_color: Scrollbar will be filled with color. The default fill color will
 * 	   be transparent if the checkbox is not checked.
 * 	 - created_at: Block created timestamp
 * 	 - scrollbar_type: Scrollbar display with arrow icon or scroll percentage
 * 	 - fill_color: Scrollbar fill color
 *
 * @ingroup themeable
 */
 #}
<div class="fbsp-page">
<div class="fb-page" data-href="{{ page_plugin_data.page_url }}" data-tabs="{{ page_plugin_data.tabs }}" data-width="{{ page_plugin_data.width }}" data-height="{{ page_plugin_data.height }}" data-small-header="{{ page_plugin_data.small_header }}" data-adapt-container-width="{{ page_plugin_data.adapt_width }}" data-hide-cover="{{ page_plugin_data.hide_cover }}" data-show-facepile="{{ page_plugin_data.show_faces }}"><blockquote cite="{{ page_plugin_data.page_url }}" class="fb-xfbml-parse-ignore"><a href="{{ page_plugin_data.page_url }}">Facebook</a></blockquote></div>
</div>
