{#
/**
 * @file
 * Default theme implementation for a mrcs social share formatter.
 *
 * Available variables:
 * - back_to_top_data: Array of back to top config data.
 * 	 - circle_stroke_color: Circle stroke color is the line of color that precisely
 * 	   follows a path on page scroll.
 * 	 - progress_box_shadow: Progress box shadow color where the stroke will
 * 	   follow a path
 * 	   on page scroll
 * 	 - icon_color: Icon color
 * 	 - icon_hover_color: Icon color on hover
 * 	 - scroll_bar_position: Scrollbar
 * 	 - has_shadow: Scrollbar has shadow on hover
 * 	 - shadow_color: Scrollbar shadow color
 * 	 - has_fill_color: Scrollbar will be filled with color. The default fill color will
 * 	   be transparent if the checkbox is not checked.
 * 	 - created_at: Block created timestamp
 * 	 - scrollbar_type: Scrollbar display with arrow icon or scroll percentage
 * 	 - fill_color: Scrollbar fill color
 *
 * @ingroup themeable
 */
 #}
<div class="fbsp-share-button">
<div class="fb-share-button" data-href="{{ share_button_data.current_url }}" data-layout="{{ share_button_data.layout }}" data-size="{{ share_button_data.button_size }}"><a target="_blank" href="{{ share_button_data.href }}" class="fb-xfbml-parse-ignore">Share</a></div>
</div>